<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="description" content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."/>

  <link th:replace="components/designelements/favicon">
  <link th:replace="components/designelements/font">

  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/queries.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}"/>

  <script src="https://unpkg.com/phosphor-icons"></script>
  <script defer th:src="@{/js/admin.js}"></script>
  <script defer th:src="@{/js/admin-customers.js}"></script>
  <title>Urban Infusion</title>
</head>

<body onload="getCustomers()">
<header class="admin__header" th:insert="components/admin-header"></header>

<main class="admin__main">

  <aside class="sidenav" th:insert="components/admin-sidenav"></aside>

  <section class="section-content">

    <form class="searchbar">
      <label class="searchbar__label">
        <input class="searchbar__input" aria-label="Search bar" placeholder="Search">
        <i class="ph-magnifying-glass searchbar__icon"></i>
      </label>
    </form>
    <section class="section-list">
      <table id="customerTable" class="customer-table">
        <thead>

        <tr>
          <th style="width: 15%; ">Customer ID</th>
          <th style="width: 25%; ">Name</th>
          <th style="width: 60%; ">Address</th>
        </tr>

        </thead>
        <tbody id="tbody">
        </tbody>
      </table>
    </section>
  </section>
</main>

<footer class="footer" th:include="components/footer"></footer>
<div class="overlay hidden"></div>
</body>

</html>