<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature." />
    <link th:replace="components/designelements/favicon">
    <link th:replace="components/designelements/font">

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/queries.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-admin.css}"/>

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script th:src="@{/js/admin.js}"></script>
    <title>Urban Infusion</title>
</head>

<body class>
    <header class="admin__header" th:insert="components/admin-header">
    </header>

    <main class="admin__main">
        <aside th:insert="components/admin-sidenav"></aside>

        <section class="section-dashboard">
            <section class="dashboard__grid">
                <h2 class="dashboard__header"> New customers: </h2>
                <table class="dashboard__table dashboard__table--customer">
                    <tr>
                        <th style="width: 15%;">Customer ID</th>
                        <th style="width: 25%;">Name</th>
                        <th style="width: 60%;">Address</th>

                    </tr>
                    <tr>
                        <td>075439</td>
                        <td>Theresa Webb</td>
                        <td>2972 Westheimer Rd. Santa Ana, Illinois 85486</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                    <tr>
                        <td>075439</td>
                        <td>Theresa Webb</td>
                        <td>2972 Westheimer Rd. Santa Ana, Illinois 85486</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                        <td></td>
                    </tr>
                    <tr>
                        <td>075439</td>
                        <td>Theresa Webb</td>
                        <td>2972 Westheimer Rd. Santa Ana, Illinois 85486</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                    <tr>
                        <td>075439</td>
                        <td>Theresa Webb</td>
                        <td>2972 Westheimer Rd. Santa Ana, Illinois 85486</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                </table>
                <link class="dashboard__label" th:href="@{/admin/customers}">See all customers</link>
            </section>

            <section class="dashboard__grid">
                <h2 class="dashboard__header"> Latest orders: </h2>
                <table class="dashboard__table dashboard__table--order">
                    <tr>
                        <th style="width: 20%;">Order date</th>
                        <th>Order nr.</th>
                        <th>Customer ID</th>
                        <th>Processing status </th>
                    </tr>
                    <tr>
                        <td>31/03/2022</td>
                        <td>12345</td>
                        <td>2972 </td>
                        <td>Completed</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                    <tr>
                        <td>31/03/2022</td>
                        <td>12345</td>
                        <td>2972 </td>
                        <td>Completed</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                    <tr>
                        <td>31/03/2022</td>
                        <td>12345</td>
                        <td>2972 </td>
                        <td>Completed</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>

                    <tr>
                        <td>19/04/1990</td>
                        <td>142567</td>
                        <td>1337</td>
                        <td>Unprocessed</td>
                        <th><i class="ph-arrow-square-out"></i></th>
                    </tr>
                </table>
                <link class="dashboard__label" th:href="@{/admin/orders}">See all orders</link>

            </section>

            <section class="dashboard__grid">
                <h2 class="dashboard__header"> Latest comments: </h2>

                <link class="dashboard__label" th:href="@{/admin/comments}">See all comments</link>
            </section>
        </section>
    </main>

    <footer class="footer" th:include="components/footer"></footer>
    <div class="overlay hidden"></div>

</body>

</html>