<aside class="sidenav ">
  <nav class="sidenav__nav">
    <ul class="sidenav__list" style="list-style-type: none">
      <li class="sidenav__item">
        <a class="sidenav__link" th:href="@{/admin/}"><i class="ph-squares-four sidenav__icon"></i> Dashboard</a></li>
      <li class="sidenav__item">
        <a class="sidenav__link " th:href="@{/admin/customers}"><i class="ph-users-three sidenav__icon "></i> Customers</a>
      </li>
      <li class="sidenav__item">
        <a class="sidenav__link " th:href="@{/admin/orders}"><i class="ph-clipboard-text sidenav__icon "></i> Orders</a>
      </li>
      <li class="sidenav__item">
        <a class="sidenav__link " th:href="@{/admin/products}"><i class="ph-shopping-bag sidenav__icon "></i> Products</a>
      </li>
      <li class="sidenav__item">
        <a class="sidenav__link" th:href="@{/admin/reviews}"><i class="ph-chat-circle-text sidenav__icon "></i> Reviews</a>
      </li>
    </ul>
  </nav>
</aside>