<div class="logo-col">
  <img
    class="footer__logo"
    th:src="@{/img/icons/logo-big.png}"
    alt="Urban infusion logo"
  />
  <p class="copyright">
    Copyright &copy; 2022 NTNU, IDATA2301 Web Technologies - group 3
  </p>
</div>
<nav>
  <p class="footer-heading">Account</p>
  <ul class="footer__list" data-content="0">
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Account policy</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Create account</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Sign in</a>
    </li>
  </ul>
</nav>
<nav>
  <p class="footer-heading">Resources</p>
  <ul class="footer__list" data-content="1">
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Customer service</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Terms of service</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Privacy policy</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Cancellations and returns</a>
    </li>
  </ul>
</nav>
<nav>
  <p class="footer-heading">Company</p>
  <ul class="footer__list" data-content="2">
    <li class="footer__item">
      <a th:href="@{/#section-company}" class="footer__link"
        >About Urban Infusion</a
      >
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Business inquiries</a>
    </li>
    <li class="footer__item">
      <a th:href="@{/}" class="footer__link">Careers</a>
    </li>
  </ul>
</nav>
