<button class="nav-mobile__btn btn--icon" aria-label="open navigation menu"><i class="ph-list"></i></button>
<button class="nav-mobile__btn btn--icon hidden" aria-label="close navigation menu">
  <i class="ph-x"></i>
</button>
<a th:href="@{/}" class="logo">
  <img
    class="logo__img"
    th:src="@{/img/icons/logo-big.png}"
    alt="Urban Infusion logo"
  />
</a>
<nav class="nav">
  <ul class="nav__list">
    <li class="nav__item">
      <a class="nav__link" th:href="@{/}">Home</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" th:href="@{/#section-company}">About us</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" th:href="@{/#section-products}">Products</a>
    </li>
  </ul>
  <div class="nav__link-menu--overlay hidden" id=""></div>

  <div class="nav__btn-box">
    <button
      th:if="${permission} == 'NoUser'"
      id="wishlist-link"
      class="nav__item"
      aria-label="View wishlist"
    >
      <i class="ph-heart-light btn--icon"></i>
    </button>
    <a
      th:if="${permission} == 'user' or ${permission} eq 'owner' or ${permission} eq 'admin'"
      th:href="@{/wishlist}"
      class="nav__link nav__item"
      aria-label="View wishlist"
      ><i class="ph-heart-light btn--icon"></i
    ></a>
    <a
      th:href="@{/checkout}"
      class="nav__link nav__item"
      aria-label="Go to checkout"
    >
      <i class="ph-tote-light btn--icon"></i
    ></a>
    <button class="nav__item" id="user-menu" aria-label="account menu">
      <i class="ph-user-circle-light btn--icon"></i>
    </button>
    <div
      th:if="${permission} == 'NoUser'"
      th:include="components/menus/login"
      class="nav__user-menu align-items--center hidden"
    ></div>
    <div
      th:if="${permission} == 'user'"
      th:include="components/menus/usermenu"
      class="nav__user-menu hidden"
    ></div>
    <div
      th:if="${permission} eq 'admin' or ${permission} eq 'owner'"
      th:include="components/menus/adminmenu"
      class="nav__user-menu hidden"
    ></div>
  </div>
  <div class="nav__user-menu--overlay hidden"></div>
</nav>
