<img
  class="product-card__img"
  th:src="@{/products/images/{id}(id = ${product.id})}"
  th:alt="${product.name}"
/>
<div class="product-card__details">
  <a
    th:href="@{/product/{id}#section-reviews(id=${product.id})}"
    class="product__rating"
    th:attr="data-rating=${product.averageRating}"
  >
    <img
      class="product__rating--img"
      src="../img/icons/leaf.svg"
      data-rating="1"
    /><img
      class="product__rating--img"
      src="../img/icons/leaf.svg"
      data-rating="2"
    /><img
      class="product__rating--img"
      src="../img/icons/leaf.svg"
      data-rating="3"
    /><img
      class="product__rating--img"
      src="../img/icons/leaf.svg"
      data-rating="4"
    /><img
      class="product__rating--img"
      src="../img/icons/leaf.svg"
      data-rating="5"
    />
    <p th:text="'(' + ${product.ratings.size()} + ')'">(0)</p>
  </a>
  <a th:href="@{/product/{id}(id=${product.id})}" class="link">
    <h4 class="product-card__heading" th:text="${product.name}">Heather tea</h4>
  </a>
  <ul class="product-card__list">
    <li
      th:each="line : ${product.description.split('[.]')}"
      class="product-card__item"
    >
      <i class="ph-check-thin product-card__icon"></i
      ><span th:text="${line}"></span>
    </li>
  </ul>
  <div class="product-card__cta">
    <p class="product-card__price" th:text="${product.price} + ',-'">200,-</p>
    <div
      class="product__btn--wishlist"
      th:attr="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
    ></div>
    <button
      th:attr="data-productid=${product.id}"
      aria-label="add item to shopping cart"
    >
      <i class="ph-tote-light btn--icon"></i>
    </button>
  </div>
</div>
