/*
Primary color: #dad7cd;
Secondary color: #4F744E;
Text color: #58555F;

Spacing: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160
Font-sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


/****************************/
/* ADMIN */
/****************************/

.dashboard__chart--customers {
    width: 50rem;
    height: 35rem;
    aspect-ratio: auto 800/400;
}

.currentpage {
    color: #4F744E;
    font-weight: 600;
}

.admin__main {
    display: grid;
    column-gap: 3.2rem;
    /*max-width: 160rem;
    min-height: 50rem;
    justify-content: left;*/
    grid-template-columns: 20rem auto;

    font-family: "Montserrat", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.8;
    color: #58555F;
    margin: 0 auto;
}

.sidenav {
    height: 100%;
    min-height: 50rem;
    box-shadow: 1rem 1rem 2rem rgb(0 0 0 / 15%);
}

.sidenav__item {
    margin-bottom: 1.2rem;
    padding: 1.2rem;
}

.sidenav__item:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

.sidenav__link {
    display: flex;
    align-items: center;
    gap: 0.8rem
}

.section-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.4rem;
}

.searchbar {
    margin-top: 2rem;
    margin-bottom: 2rem;
    min-width: 30%;
}

.searchbar__label {
    position: relative;
}

.searchbar__input {
    padding: 0.8rem;
    width: 100%;
    border-radius: 50px;
    border: 0.15rem solid #4F744E;
    font-family: "Montserrat", sans-serif;
    box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

.searchbar__icon {
    color: #4F744E;
    font-size: 2rem;
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.section-list {
    min-width: 100%;
    text-align: left;
    position: relative;
    overflow: scroll;
    overflow-x: hidden;
}

.section-dashboard {
    display: flex;
    justify-content: flex-start;
    flex-basis: 50%;
    flex-wrap: wrap;
    padding: 2.4rem;
}

.dashboard__label {
    display:flex;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
}

.dashboard__label:hover {
    transition: all 0.2s ease-out;
    transform: scale(1.1);
}

th {
    text-align: left;
}

.dashboard__table {
    margin-right: 4rem;
    box-shadow: 0rem 1rem 2rem rgb(0 0 0 / 15%);
    padding: 0rem 1.2rem 1.2rem 1.2rem;
}

.dashboard__table tr {
    display: grid;
    column-gap: 1.6rem;
    font-size: 1.6rem;
}

.dashboard__table thead tr {
    white-space: nowrap;
    background: none;
}

.dashboard__table tbody tr:hover {
    background-color: #dae4e8;
    outline: none;
    cursor: pointer;
}

.dashboard__table--customers tr {
    grid-template-columns: 1fr 4fr 5fr;
}

.dashboard__table--orders tr {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.dashboard__table--ratings tr {
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 5fr;
}

.user__table {
    box-shadow: none;
}

.user__table tr {
    grid-template-columns: 1fr 2fr 2fr 6fr;
}

.order__table {
    box-shadow: none;
}

.order__table tr {
    grid-template-columns: 1fr 1fr 1fr 4fr 1fr;
}

.products__table {
    box-shadow: none;
}

.products__table tr {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 0.5fr;
}

.ratings__table {
    box-shadow: none;
}

.ratings__table tr {
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 5fr;
}

.dashboard__label {
    display: flex;
    justify-content: center;
}

.sidenav__icon {
    font-size: 3.8rem;
}

.admin__logo {
    transform: translate(0%, 10%);
}

.admin__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    background-color: rgba(218, 215, 205, 1);
    transition: all 0.2s ease-out;
    box-shadow: 0rem 1rem 2rem rgb(0 0 0 / 30%);
}

.admin__nav-box {
    position: relative;
    display: flex;
    align-items: center;
}
