/*
Primary color: #dad7cd;
Secondary color: #588157;
Text color: #6d6875;

Spacing: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160
Font-sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/


/****************************/


/* ADMIN */


/****************************/

.admin-main {
    display: flex;
    gap: 3.2rem;
    max-width: 1000rem;
    margin: 0 auto;
    min-height: 50rem;
    justify-content: left;
    }

.admin-main .admin-sidenav {
    /*order: 1;*/
    flex-grow: 1;
    border-style: solid;
}

.admin-sidenav li{
    margin-bottom: 1rem;
    padding: 1rem;
}

.admin-body {
    /*order: 2;*/
    /*flex-grow: 3;*/
    display: flex;
    flex-grow: 4;
    flex-wrap: wrap;
    justify-content: space-between;
}

.admin-body-section {
    flex: 34%;
    margin: 3%;
}

.admin-customer-table {
    order: 2;
    flex: 1;
    width: 100%;
}

.customer-table {

}
th {
    text-align: left;
}

.admin-sidenav i {
    font-size: 3.8rem;
}


.admin__logo {
    transform: translate(0%, 10%);
}
.admin__header {

    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100vw;
    padding: 1.6rem 2.4rem 1.6rem 2.4rem;
    background-color: rgba(218, 215, 205, 1);
    z-index: 5254354523425;
    transition: all 0.2s ease-out;
}

.admin__nav-box {
    position: relative;
    display: flex;
    align-items: center;
}