<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/queries.css}" type="text/css" rel="stylesheet" />

    <script
      defer
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script
      defer
      th:src="@{/js/tools.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/components/caretbutton.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/login.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/general.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/account.js}"
      type="application/javascript"
    ></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header class="header" th:include="components/header"></header>
    <main class="account container--beige">
      <div class="section__heading-box">
        <h1 class="decorative-heading">Customer</h1>
        <h2 class="section-title">Your account!</h2>
      </div>
      <div class="account-sections">
        <section class="section-account-info container--white">
          <h3>Account information</h3>
          <p class="account-info__row">
            <span>Name /&#8203; Customer id</span>
            <span>
              <span th:text="${user.firstName}" id="field_firstName"
                >Esther</span
              >
              <span th:text="${user.lastName} + ' &#8203;'" id="field_lastName"
                >Howard</span
              >
              /
              <span th:text=" ${user.id}" id="field_userId">&#8203; 85329</span>
            </span>
            <button id="open_name" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </p>
          <div class="modal hidden" id="modal_name">
            <div class="modal__window">
              <button
                class="btn--close close btn--icon"
                id="close_name"
              >
                <i class="ph-x"></i>
              </button>
              <h3 class="change-heading">Change name</h3>
              <p class="review__alert account__form--alert"></p>
              <form class="modal__form modal__form--name">
                <label class="change__field" for="edit_firstName">
                  First name *
                  <input
                    class="input"
                    type="text"
                    id="edit_firstName"
                    th:value="${user.firstName}"
                    name="edit_firstName"
                  />
                </label>
                <label class="change__field" for="edit_firstName">
                  Last name *
                  <input
                    class="input"
                    type="text"
                    id="edit_lastName"
                    th:value="${user.lastName}"
                    name="edit_lastName"
                  />
                </label>
                <input
                  type="submit"
                  value="Change name"
                  name="changeName"
                  class="btn--green btn--submit"
                />
              </form>
            </div>
          </div>
          <address class="account-info__row">
            <span>Email address</span>
            <span
              th:text="${user.email.replace('@', '@&#8203;')}"
              id="field_email"
              >esther.&#8203;howard@&#8203;example.&#8203;com</span
            >
            <button id="open_email" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </address>
          <div class="modal hidden" id="modal_email">
            <div class="modal__window">
              <button
                class="btn--close close btn--icon"
                id="close_email"
              >
                <i class="ph-x"></i>
              </button>
              <h3 class="change-heading">Change email-address</h3>
              <strong>You will be logged off after this action</strong>
              <p class="review__alert account__form--alert"></p>
              <form class="modal__form modal__form--email">
                <label class="change__field" for="edit_email"
                  >New email-address *
                  <input
                    class="input"
                    type="text"
                    id="edit_email"
                    name="edit_email"
                    th:value="${user.email}"
                  />
                </label>
                <label class="change__field" for="edit_email_password"
                  >Password *
                  <input
                    class="input"
                    type="password"
                    id="edit_email_password"
                    name="edit_email_password"
                  />
                </label>

                <input
                  type="submit"
                  value="Change email"
                  name="changeEmail"
                  class="btn--green btn--submit"
                />
              </form>
            </div>
          </div>
          <p class="account-info__row">
            <span>Password</span>
            <span id="field_password">********</span>
            <button id="open_password" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </p>
          <div class="modal hidden" id="modal_password">
            <div class="modal__window">
              <button
                class="btn--close close btn--icon"
                id="close_password"
              >
                <i class="ph-x"></i>
              </button>
              <h3 class="change-heading">Change password</h3>
              <p class="review__alert account__form--alert"></p>
              <form class="modal__form modal__form--password">
                <label class="change__field" for="edit_password"
                  >Current password *
                  <input
                    class="input"
                    type="password"
                    id="edit_password"
                    name="edit_password"
                  />
                </label>
                <label class="change__field" for="edit_password"
                  >New password *
                  <input
                    class="input"
                    type="password"
                    id="edit_newPassword"
                    name="edit_newPassword"
                  />
                </label>
                <input
                  type="submit"
                  value="Change password"
                  name="changePassword"
                  class="btn--green btn--submit"
                />
              </form>
            </div>
          </div>
          <address class="account-info__row">
            <span>Address</span>
            <span th:if="${address != null}">
              <span
                th:text="${address.addressLine1}"
                id="field_addressLine1"
              ></span>
              <span
                th:if="address.addressLine2 != null"
                th:text="${address.addressLine2}"
                id="field_addressLine2"
              ></span>
              <span
                th:text="${address.postalCode}"
                id="field_postalCode"
              ></span>
              <span th:text="${address.city}" id="field_city"></span>
              <span th:text="${address.country}" id="field_country"></span>
            </span>
            <span th:unless="${address != null}">No address</span>
            <button id="open_address" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </address>
          <p class="account-info__row">
            <span>Member since</span>
            <time
              datetime="user.createdAt"
              th:text="${user.createdAt.toLocalDate()}"
              >04.02.2022</time
            >
          </p>
          <p class="account-info__row">
            <span>Updated last</span>
            <time
              datetime="user.updatedAt"
              th:text="${user.updatedAt.toLocalDate()}"
              >15.03.2022</time
            >
          </p>
          <p class="account-info__row">
            <button class="account-info__btn--delete">
              <i class="ph-trash-light btn--icon"></i> Want to delete your
              account?
            </button>
          </p>
          <div class="modal hidden" id="modal_delete">
            <div class="modal__window">
              <button
                class="btn--close close btn--icon"
                id="close_delete"
              >
                <i class="ph-x"></i>
              </button>
              <h3 class="change-heading">
                Do you wish to delete your account?
              </h3>
              <p class="review__alert account__form--alert"></p>
              <form class="modal__form modal__form--delete">
                <label class="change__field" for="delete-password">
                  Password *
                  <input
                    type="password"
                    id="delete-password"
                    name="delete-account-password"
                    class="input"
                  />
                </label>
                <input
                  type="submit"
                  value="Yes"
                  name="deleteAccount"
                  class="btn--green btn--submit btn--delete"
                />
                <input type="submit" value="No" class="btn--green btn--submit" />
              </form>
            </div>
          </div>
          <div class="modal hidden" id="modal_address">
            <div class="modal__window modal__window--account-address">
              <button
                class="change__btn--close close btn--icon"
                id="close_address"
              >
                <i class="ph-x"></i>
              </button>
              <form class="account__form--address">
                <h3 class="change-heading">Change address</h3>
                <p class="review__alert account__form--alert"></p>
                <label class="change__field">
                  Addressline 1 *
                  <input
                    name="addressLine1"
                    class="input"
                    th:value="${address == null} ? '' : ${address.addressLine1}"
                    type="text"
                  />
                </label>
                <label class="change__field">
                  Addressline 2
                  <input
                    name="addressLine2"
                    class="input"
                    type="text"
                    th:value="${address == null} ? '' : ${address.addressLine2}"
                  />
                </label>
                <label class="change__field">
                  Municipality *
                  <input
                    name="municipality"
                    class="input"
                    type="text"
                    th:value="${address == null} ? '' : ${address.city}"
                    placeholder=""
                  />
                </label>
                <label class="change__field">
                  Zip-code *
                  <input
                    name="zipCode"
                    class="input"
                    type="text"
                    th:value="${address == null} ? '' : ${address.postalCode}"
                    placeholder=""
                  />
                </label>
                <label class="change__field">
                  Country *
                  <input
                    name="country"
                    class="input"
                    type="text"
                    th:value="${address == null} ? '' : ${address.country}"
                    placeholder=""
                  />
                </label>
                <input
                  type="submit"
                  name="changeAddress"
                  class="btn--green btn--submit"
                  value="Change address"
                />
              </form>
              <div class="account__map" id="map"></div>
            </div>
          </div>
        </section>

        <section
          th:if="${orderDetails != null}"
          class="section-purchases container--white"
        >
          <h3>Purchase history</h3>
          <table>
            <thead>
              <tr>
                <th>Purchased</th>
                <th>Order nr.</th>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderDetail : ${orderDetails}">
                <td th:text="${orderDetail.getCreatedAt().toLocalDate()}">
                  04.02.2022
                </td>
                <td th:text="${orderDetail.id}">6453450</td>
                <td>
                  <span
                    th:each="orderItem : ${orderDetail.orderItems}"
                    th:text="${orderItem.quantity} + 'x' + ${orderItem.getProduct().getName()} + ', '"
                  ></span>
                </td>
                <td th:text="${orderDetail.total} + ',-'">600,-</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
