<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin=""
    />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/queries.css}" type="text/css" rel="stylesheet" />

    <script
      defer
      src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""
    ></script>
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script
      defer
      th:src="@{/js/tools.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/components.js}"
      type="application/javascript"
    ></script>
    <script
            defer
            th:src="@{/js/login.js}"
            type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/general.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/account.js}"
      type="application/javascript"
    ></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header class="header" th:include="components/header"></header>
    <main class="account container--beige">
      <div class="section__heading-box">
        <h1 class="decorative-heading">Customer</h1>
        <h2 class="section-title">Your account!</h2>
      </div>
      <div class="account-sections">
        <section class="section-account-info container--white">
          <h3>Account information</h3>
          <p class="account-info__row">
            <span>Name /&#8203; Customer id</span>
            <span
              th:text="${user.firstName} + ' ' + ${user.lastName} + ' / ' + ${user.id}"
              >Esther Howard /&#8203; 85329</span
            >
          </p>
          <address class="account-info__row">
            <span>Email address</span>
            <span
              th:text="${user.email.replace('@', '@&#8203;')}"
              id="field_email"
              >esther.&#8203;howard@&#8203;example.&#8203;com</span
            >
            <button id="open_email" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </address>
          <div class="modal" id="modal_email">
            <div class="modal__window">
              <button
                class="checkout__btn--close close btn--icon"
                id="close_email"
              >
                <i class="ph-x"></i>
              </button>
              <h2>Change email address</h2>
              <form class="modal__form--email">
                <label for="edit_email">New email address: </label>
                <input type="text" id="edit_email" name="edit_email" />
                <input type="submit" value="Submit" class="btn--green" />
              </form>
            </div>
          </div>
          <p class="account-info__row">
            <span>Password</span>
            <span id="field_password">********</span>
            <button id="open_password" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </p>
          <div class="modal" id="modal_password">
            <div class="modal__window">
              <button
                class="checkout__btn--close close btn--icon"
                id="close_password"
              >
                <i class="ph-x"></i>
              </button>
              <h2>Change password</h2>
              <form class="modal__form--password">
                <label for="edit_password">New password: </label>
                <input type="text" id="edit_password" name="edit_password" />
                <input type="submit" value="Submit" class="btn--green" />
              </form>
            </div>
          </div>
          <address class="account-info__row">
            <span>Address</span>
            <span th:text="${address.getAddressLine()}" id="field_address"
              >2972 Westheimer Rd. Santa Ana, Illinois 85486
            </span>
            <button id="open_address" class="account-info__btn">
              <i class="ph-pencil-simple-light btn--icon"></i>
            </button>
          </address>
          <!--<div class="modal" id="modal_address">
            <div class="modal__window">
              <button
                class="checkout__btn&#45;&#45;close close btn&#45;&#45;icon"
                id="close_address"
              >
                <i class="ph-x"></i>
              </button>
              <h2>Change address</h2>
              <form class="modal__form&#45;&#45;address">
                <label for="edit_address">New address: </label>
                <input type="text" id="edit_address" name="edit_address" />
                <input type="submit" value="Submit" class="btn&#45;&#45;green" />
              </form>
            </div>
          </div>-->
          <p class="account-info__row">
            <span>Member since</span>
            <time
              datetime="user.createdAt"
              th:text="${user.createdAt.toLocalDate()}"
              >04.02.2022</time
            >
          </p>
          <p class="account-info__row">
            <span>Updated last</span>
            <time
              datetime="user.updatedAt"
              th:text="${user.updatedAt.toLocalDate()}"
              >15.03.2022</time
            >
          </p>
          <p class="account-info__row">
            <button class="account-info__btn--delete">
              <i class="ph-trash-light btn--icon"></i> Want to delete your
              account?
            </button>
          </p>
          <div class="modal" id="modal_delete">
            <div class="modal__window">
              <button
                class="checkout__btn--close close btn--icon"
                id="close_delete"
              >
                <i class="ph-x"></i>
              </button>
              <h2>Do you wish to delete your account?</h2>
              <form class="modal__form--delete">
                <input
                  type="submit"
                  value="Yes"
                  class="btn--green btn--delete"
                />
                <input type="submit" value="No" class="btn--green" />
              </form>
            </div>
          </div>
          <div class="modal account-info__change account-info__change--address container--beige " id="modal_address">
            <button class="change__btn--close close btn--icon" id="close_address">
              <i class="ph-x"></i>
            </button>
            <div class="account__form--address">
              <h3 class="change-heading">Change address</h3>
              <p class="review__alert account__form--alert"></p>
              <label class="change__field">
                Addressline 1 *
                <input
                  name="addressLine1"
                  class="input"
                  type="text"
                  th:value="${address.getAddressLine1()}"
                  placeholder=""
                />
              </label>
              <label class="change__field">
                Addressline 2
                <input
                  name="addressLine2"
                  class="input"
                  type="text"
                  th:value="${address.getAddressLine2()}"
                  placeholder=""
                />
              </label>
              <label class="change__field">
                Municipality *
                <input
                  name="municipality"
                  class="input"
                  type="text"
                  th:value="${address.getCity()}"
                  placeholder=""
                />
              </label>
              <label class="change__field">
                Zip-code *
                <input
                  name="zipCode"
                  class="input"
                  type="text"
                  th:value="${address.getPostalCode()}"
                  placeholder=""
                />
              </label>
              <label class="change__field">
                Country *
                <input
                  name="country"
                  class="input"
                  type="text"
                  th:value="${address.getCountry()}"
                  placeholder=""
                />
              </label>
              <input
                type="submit"
                name="changeAddress"
                class="btn--green"
                value="Change address"
              />
            </div>
            <div class="account__map" id="map"></div>
          </div>
          <div class="account-info__change--overlay modal"></div>
        </section>

        <section class="section-purchases container--white">
          <h3>Purchase history</h3>
          <table>
            <thead>
              <tr>
                <th>Purchased</th>
                <th>Order nr.</th>
                <th>Items</th>
                <th>Price</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="orderDetail : ${orderDetails}">
                <td th:text="${orderDetail.getCreatedAt().toLocalDate()}">
                  04.02.2022
                </td>
                <td th:text="${orderDetail.id}">6453450</td>
                <td>
                  <span
                    th:each="orderItem : ${orderDetail.orderItems}"
                    th:text="${orderItem.quantity} + 'x' + ${orderItem.getProduct().getName()} + ', '"
                  ></span>
                </td>
                <td th:text="${orderDetail.total} + ',-'">600,-</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
