<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet" />
    <link th:href="@{/css/queries.css}" type="text/css" rel="stylesheet" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"></script>
    <script defer th:src="@{/js/tools.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
    <script type="module" th:src="@{/js/general.js}"></script>
    <script type="module" th:src="@{/js/index.js}"></script>
    <script defer th:src="@{/js/product.js}"></script>
    <script defer th:src="@{/js/productcontrols/wishlistcontrols.js}"></script>
    <script defer th:src="@{/js/productcontrols/cartcontrols.js}"></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header th:insert="components/header" class="header"></header>
    <main>
      <section class="section-hero">
        <picture>
          <source
            type="image/webp"
            srcset="
              img/hero/heroimg-400.webp  0.25x,
              img/hero/heroimg-800.webp  0.5x,
              img/hero/heroimg-1600.webp 1x,
              img/hero/heroimg-3200.webp 2x,
              img/hero/heroimg-4800.webp 3x
            "
          />
          <source
            type="image/jpeg"
            sizes="100vw"
            srcset="
              img/hero/heroimg-400.jpg  0.25x,
              img/hero/heroimg-800.jpg  0.5x,
              img/hero/heroimg-1600.jpg 1x,
              img/hero/heroimg-3200.jpg 2x,
              img/hero/heroimg-4800.jpg 3x
            "
          />
          <img
            alt="two hands holding mugs (with tea) on a hike"
            src="img/hero/heroimg-1600.jpg"
            class="hero__img"
          />
        </picture>
        <a href="#section-products" class="btn">
          <h1 class="heading-primary">
            Find your
            <span class="decorative-text--light">herbal </span> friend
          </h1></a
        >
      </section>
      <section class="section-cooperations">
        <h2 class="heading--small">In cooperation with</h2>
        <div class="cooperation-logos">
          <a
            href="https://www.yogitea.com/nb/products/yogi-tea/"
            target="_blank"
          >
            <img
              class="cooperation-logo"
              src="img/cooperations/yogi-tea.svg"
              alt="yogi tea logo"
            />
          </a>
          <a href="https://www.ahmadtea.com/" target="_blank">
            <img
              class="cooperation-logo"
              src="img/cooperations/ahmad-tea.png"
              alt="ahmad tea logo"
            />
          </a>
          <a href="https://www.pukkaherbs.com/no/no" target="_blank">
            <img
              class="cooperation-logo"
              src="img/cooperations/pukka.webp"
              alt="pukka tea logo"
            />
          </a>
          <a href="https://www.clipper-teas.com/" target="_blank">
            <img
              class="cooperation-logo"
              src="img/cooperations/clipper-tea.svg"
              alt="clipper tea logo"
            />
          </a>
          <a href="https://www.fairtrade.no/" target="_blank">
            <img
              class="cooperation-logo"
              src="img/cooperations/fairtrade.svg"
              alt="fairtrade logo"
            />
          </a>
        </div>
      </section>
      <section class="section-featured">
        <div class="section__heading-box">
          <h2 class="decorative-heading">Top sellers</h2>
          <h3 class="section-title">Featured</h3>
        </div>
        <div class="featured-products">
          <div
            class="featured-card"
            th:each="product, iteration : ${topSellingProducts}"
            th:attr="data-slide=${iteration.index}"
          >
            <img
              class="featured-card__img"
              th:src="@{api/products/images/{id}(id = ${product.id})}"
              th:alt="${product.name}"
            />
            <a
              th:href="@{/products/{id}(id=${product.id})}"
              class="btn btn--text"
              >View more</a
            >
          </div>
        </div>
      </section>

      <div class="section-values">
        <div class="values">
          <figure class="value">
            <img class="value__icon" src="img/illustrations/tree.svg" alt="" />
            <figcaption>
              <span class="decorative-heading">Traditions</span>
              <span>
                We value the ancient traditions which are brought to modern
                times through nature.
              </span>
            </figcaption>
          </figure>
          <figure class="value">
            <img class="value__icon" src="img/illustrations/heart.svg" alt="" />
            <figcaption>
              <span class="decorative-heading">Health</span>
              <span
                >We value your health by offering herbal teas with healing
                properties made from ancient recipes.</span
              >
            </figcaption>
          </figure>
          <figure class="value">
            <img class="value__icon" src="img/illustrations/earth.svg" alt="" />
            <figcaption>
              <span class="decorative-heading">Sustainability</span>
              <span>
                We value our earth and it's life. We work with fairtrade to
                provide you ethically produced herbal teas.
              </span>
            </figcaption>
          </figure>
        </div>
      </div>

      <section class="section-company" id="section-company">
        <div class="section__heading-box">
          <h2 class="decorative-heading">Urban Infusion</h2>
          <h3 class="section-title">
            Fusing ancient traditions and modern times
          </h3>
        </div>

        <div class="company-grid">
          <div class="company-grid__text">
            <p>
              Humans have been enjoying herbal teas for millennia. We are
              passionate for natural teas, nurtured by our ancestors. Our
              experts have carefully selected teas from all regions of the
              planet – from Japanese teas to herbal wonders of Machu Picchu.
            </p>
          </div>

          <div class="company-grid__text">
            <p>
              We are passionate about ancient traditions of tea ceremony.
              Therefore our employees can help you find what you need for you
              tea ceremony. We have a collection of different teasets and mugs
              made out of brazillian clay.
            </p>
          </div>

          <div class="company-grid__text">
            <p>
              We have carefully created a collection of more than 600 different
              teas from 140 different countries. Come visit us at our office in
              Amfi Moa, we have 62 most popular teas available here! Our shop is
              maskfree (just don't tell it to municipality's chief physician.)
            </p>
          </div>

          <div
            class="gallery gallery--right"
            id="gallery__slide-1"
            data-slide="0"
          >
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-1-390w.webp   390w,
                  img/gallery/pic-1-780w.webp   780w,
                  img/gallery/pic-1-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-1-390w.jpg   390w,
                  img/gallery/pic-1-780w.jpg   780w,
                  img/gallery/pic-1-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-1-390w.jpg"
                alt="herbal tea in a teapot"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-2-390w.webp   390w,
                  img/gallery/pic-2-780w.webp   780w,
                  img/gallery/pic-2-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                media="(max-width: 32em)"
                srcset="img/gallery/pic-2-390w.jpg"
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-2-390w.jpg   390w,
                  img/gallery/pic-2-780w.jpg   780w,
                  img/gallery/pic-2-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-2-390w.jpg"
                alt="herbal tea in a teacup"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-3-390w.jpg    390w,
                  img/gallery/pic-3-780w.webp   780w,
                  img/gallery/pic-3-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-3-390w.jpg   390w,
                  img/gallery/pic-3-780w.jpg   780w,
                  img/gallery/pic-3-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-3-390w.jpg"
                alt="herbal tea ready to be served"
              />
            </picture>
          </div>

          <div
            class="gallery gallery--left"
            id="gallery__slide-2"
            data-slide="1"
          >
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-4-390w.jpg    390w,
                  img/gallery/pic-4-780w.webp   780w,
                  img/gallery/pic-4-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-4-390w.jpg   390w,
                  img/gallery/pic-4-780w.jpg   780w,
                  img/gallery/pic-4-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-4-390w.jpg"
                alt="herbal tea with blossoms in a teacup"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-5-390w.jpg    390w,
                  img/gallery/pic-5-780w.webp   780w,
                  img/gallery/pic-5-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-5-390w.jpg   390w,
                  img/gallery/pic-5-780w.jpg   780w,
                  img/gallery/pic-5-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-5-390w.jpg"
                alt="herbal tea in a cup outdoors"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-6-390w.jpg    390w,
                  img/gallery/pic-6-780w.webp   780w,
                  img/gallery/pic-6-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-6-390w.jpg   390w,
                  img/gallery/pic-6-780w.jpg   780w,
                  img/gallery/pic-6-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-6-390w.jpg"
                alt="herbal tea in a teapot"
              />
            </picture>
          </div>

          <div
            class="gallery gallery--right"
            id="gallery__slide-3"
            data-slide="2"
          >
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-7-390w.jpg    390w,
                  img/gallery/pic-7-780w.webp   780w,
                  img/gallery/pic-7-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-7-390w.jpg   390w,
                  img/gallery/pic-7-780w.jpg   780w,
                  img/gallery/pic-7-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-7-390w.jpg"
                alt="tea ceremony"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-8-390w.jpg    390w,
                  img/gallery/pic-8-780w.webp   780w,
                  img/gallery/pic-8-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-8-390w.jpg   390w,
                  img/gallery/pic-8-780w.jpg   780w,
                  img/gallery/pic-8-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-8-390w.jpg"
                alt="outdoor teaparty"
              />
            </picture>
            <picture class="gallery__picture">
              <source
                type="image/webp"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-9-390w.jpg    390w,
                  img/gallery/pic-9-780w.webp   780w,
                  img/gallery/pic-9-1200w.webp 1200w
                "
              />
              <source
                type="image/jpeg"
                sizes="(max-width: 32em) 40vw, 30rem"
                srcset="
                  img/gallery/pic-9-390w.jpg   390w,
                  img/gallery/pic-9-780w.jpg   780w,
                  img/gallery/pic-9-1200w.jpg 1200w
                "
              />
              <img
                class="gallery__img"
                src="img/gallery/pic-9-390w.jpg"
                alt="herbal tea"
              />
            </picture>
          </div>
        </div>
      </section>

      <section class="section-products container--beige" id="section-products">
        <div class="section__heading-box">
          <h2 class="decorative-heading">Products</h2>
          <h3 class="section-title">Find your herbal friend!</h3>
        </div>

        <div class="product-slider">
          <article
            th:insert="components/productcard"
            class="product-card container--white product-card__slide--tertiary-prev"
            th:each="product, iteration : ${products}"
            th:attr="data-slide=${iteration.index}, data-productid=${product.id}"
          ></article>
        </div>
      </section>

      <section class="section-testimonials">
        <div class="section__heading-box">
          <h2 class="decorative-heading">Testimonials</h2>
          <h3 class="section-title">Still not convinced?</h3>
        </div>
        <div class="testimonials">
          <div class="testimonial">
            <h4 class="testimonial__heading">" Best Sencha tea! "</h4>
            <blockquote class="testimonial__text" data-content="0">
              Tea is the necessary component for my busy days at the office. It
              helps me focus. Urban Infusion have the best Sencha tea – my
              favorite.
            </blockquote>
            <div class="testimonial__author">
              <img
                class="testimonial__img"
                src="img/testimonials/testimonial-1.jpeg"
                alt="john cliff"
              />
              <span class="testimonial__name">- John Cliff</span>
            </div>
          </div>
          <div class="testimonial">
            <h4 class="testimonial__heading">" Great selection of tea! "</h4>
            <blockquote class="testimonial__text" data-content="1">
              I love the great selection Urban Infusion have! I try a new tea
              every day and I still have many teas to try out! Recommend!
            </blockquote>
            <div class="testimonial__author">
              <img
                class="testimonial__img"
                src="img/testimonials/testimonial-2.jpeg"
                alt="purple floyd"
              />
              <span class="testimonial__name">- Purple Floyd</span>
            </div>
          </div>
          <div class="testimonial">
            <h4 class="testimonial__heading">" These teas are dope! "</h4>
            <blockquote class="testimonial__text" data-content="2">
              Man, their teas are dope! P.S. You can also smoke them, just don't
              tell anyone I told you that
            </blockquote>
            <div class="testimonial__author">
              <img
                class="testimonial__img"
                src="img/testimonials/testimonial-3.jpeg"
                alt="james jagger"
              />
              <span class="testimonial__name">- James Jagger</span>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:insert="components/footer" class="footer"></footer>
  </body>
</html>
