<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta content="IE=edge" http-equiv="X-UA-Compatible" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
      name="description"
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/queries.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script type="module" th:src="@{/js/general.js}"></script>
    <script type="module" th:src="@{/js/products.js}"></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header th:include="components/header" class="header"></header>
    <main class="products__main container--beige" id="products">
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" th:href="@{/}">Home</a>
          </li>
          <li class="breadcrumbs__item">
            <i class="ph-caret-right-light"></i> Products
          </li>
        </ul>
      </nav>
      <header class="section__heading-box">
        <h1>
          <span class="heading--decorative">Products</span>
          <span class="heading--section">Find your herbal friend!</span>
        </h1>
      </header>

      <div class="products__box--search">
        <form class="products__form--search">
          <label>
            <input
              class="input products__input--search"
              name="searchBar"
              placeholder="Search.."
              type="text"
            />
          </label>
          <button id="btn-search">
            <i class="ph-magnifying-glass btn--icon products__btn--search"></i>
          </button>
        </form>
      </div>
      <div class="products__container"></div>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
