<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/queries.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script
      defer
      th:src="@{/js/tools.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/components.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/general.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/product.js}"
      type="application/javascript"
    ></script>
    <script
      defer
      th:src="@{/js/wishlistcontrols.js}"
      type="application/javascript"
    ></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header th:include="components/header" class="header"></header>
    <main
      class="product"
      th:attr="data-productId=${product.id}"
      th:attrappend="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
    >
      <section class="section-product-info">
        <h1 class="section-title" th:text="${product.name}">Heather tea</h1>
        <img
          class="product__img"
          th:src="@{/img/products/{name}.jpeg(name = ${product.name.toLowerCase().replaceAll(' ','')})}"
          alt="Green tea in a cup"
        />
        <a href="#section-reviews">
          <div
            class="product__rating"
            th:attr="data-rating=${product.averageRating}"
          >
            <img
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="1"
            /><img
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="2"
            /><img
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="3"
            /><img
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="4"
            /><img
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="5"
            />
            <p th:text="'(' + ${product.ratings.size()} + ')'">(0)</p>
          </div>
        </a>
        <div class="product__description-box">
          <h2 class="heading-secondary">Description</h2>
          <ul class="product__list" th:each="line : ${description}">
            <li><i class="ph-check"></i><span th:text="${line}"></span></li>
          </ul>
        </div>
        <div class="product__price-cta">
          <span class="product__price" th:text="${product.price} + ',-'"></span>
          <div class="product__cta">
            <button class="btn--green">
              Add to bag <i class="ph-tote-light btn--icon"></i>
            </button>
            <div
              class="product__btn--wishlist"
              th:attr="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
            ></div>
          </div>
        </div>
      </section>
      <section class="section-reviews" id="section-reviews">
        <form method="post" action="#" class="review__form">
          <h2 class="heading-secondary">What did you think of this product?</h2>
          <input
            class="input review__input"
            type="text"
            placeholder="Name"
            aria-label="Name"
          />
          <input
            class="input review__input"
            type="text"
            placeholder="Emailaddress"
            aria-label="Emailaddress"
          />
          <textarea
            class="input review__input"
            placeholder="Write your review here"
            rows="6"
            cols="50"
            maxlength="250"
            aria-label="Write your review here"
          ></textarea>
          <div class="product__rating--review" id="review__rating">
            <p>Rating</p>
            <label>
              <img
                class="product__rating--img"
                src="../img/icons/leaf.svg"
                data-rating="1"
              />
              <input
                name="rating"
                type="radio"
                value="1"
                aria-label="select 1 star rating"
              />
            </label>
            <label>
              <img
                class="product__rating--img"
                src="../img/icons/leaf.svg"
                data-rating="2"
              />
              <input
                name="rating"
                type="radio"
                value="2"
                aria-label="select 2 star rating"
              />
            </label>
            <label>
              <img
                class="product__rating--img"
                src="../img/icons/leaf.svg"
                data-rating="3"
              />
              <input
                name="rating"
                type="radio"
                value="3"
                aria-label="select 3 star rating"
              />
            </label>
            <label>
              <img
                class="product__rating--img"
                src="../img/icons/leaf.svg"
                data-rating="4"
              />
              <input
                name="rating"
                type="radio"
                value="4"
                aria-label="select 4 star rating"
              />
            </label>
            <label>
              <img
                class="product__rating--img"
                src="../img/icons/leaf.svg"
                data-rating="5"
              />
              <input
                name="rating"
                type="radio"
                value="5"
                aria-label="select 5 star rating"
              />
            </label>
          </div>
          <input type="submit" class="btn--green" value="Send review" />
        </form>
        <div class="review__comments-box">
          <h2 class="heading-secondary">Reviews</h2>
          <div class="review__comment" th:each="comment : ${comments}">
            <div class="review__comment-info">
              <div
                class="product__rating"
                th:attr="data-rating=${comment.rating}"
              >
                <img
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="1"
                /><img
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="2"
                /><img
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="3"
                /><img
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="4"
                /><img
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="5"
                />
              </div>
              <p
                th:text="${comment.displayName}"
              >
                Miranda
              </p>
              <p th:text="${comment.updatedAt.toLocalDate()}">04.02.2022</p>
            </div>
            <div>
              <div class="review__text" th:text="${comment.comment}">
                <p>The tea was ok. Could have more flavour</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
