<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Urban Infusion is an online tea shop which values the ancient traditions which are brought to modern times
    through nature."
    />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/queries.css" />

    <script src="https://unpkg.com/phosphor-icons"></script>
    <script type="module" th:src="@{/js/general.js}"></script>
    <script type="module" th:src="@{/js/product.js}"></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header th:include="components/header" class="header"></header>
    <main
      class="product"
      th:attr="data-productId=${product.id}"
      th:attrappend="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
    >
      <nav class="breadcrumbs">
        <ul class="breadcrumbs__list">
          <li class="breadcrumbs__item">
            <a class="breadcrumbs__link" th:href="@{/}">Home</a>
          </li>
          <li class="breadcrumbs__item">
            <i class="ph-caret-right-light"></i>
            <a class="breadcrumbs__link" th:href="@{/products}">Products</a>
          </li>
          <li class="breadcrumbs__item">
            <i class="ph-caret-right-light"></i>
            <span th:text="${product.name}"></span>
          </li>
        </ul>
      </nav>
      <section class="section-product-info">
        <h1 class="heading--section" th:text="${product.name}">Heather tea</h1>
        <img
          class="product__img"
          th:src="@{/api/products/images/{id}(id = ${product.imageId})}"
          alt="Green tea in a cup"
        />
        <a href="#section-reviews" th:attr="aria-label='Click to see all reviews'">
          <div
            class="product__rating"
            th:attr="data-rating=${product.averageRating}, aria-description=${product.name} + ' has an average rating of ' + ${product.averageRating} + ' out of five leaves rating'"
          >
            <img
              alt=""
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="1"
            /><img
              alt=""
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="2"
            /><img
              alt=""
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="3"
            /><img
              alt=""
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="4"
            /><img
              alt=""
              class="product__rating--img"
              src="../img/icons/leaf.svg"
              data-rating="5"
            />
            <p th:text="'(' + ${product.ratings.size()} + ')'">(0)</p>
          </div>
        </a>
        <div class="product__container--description">
          <h2 class="heading-secondary">Description</h2>
          <ul class="product__list" th:each="line : ${description}">
            <li><i class="ph-check"></i><span th:text="${line}"></span></li>
          </ul>
        </div>
        <div class="product__price-cta">
          <span class="product__price" th:text="${product.price} + ',-'"></span>
          <div class="product__cta">
            <button
              th:attr="data-productid=${product.id}"
              class="btn--green product__btn--add-to-cart"
            >
              Add to bag <i class="ph-tote-light btn--icon"></i>
            </button>
            <div
              class="product__btn--wishlist"
              th:attr="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
            ></div>
          </div>
        </div>
      </section>
      <div class="section-reviews">
        <section class="section-review-forms">
          <div class="review__form disabled" th:if="${user} == null">
            <h2 class="heading-secondary">
              Please sign in to tell us what you think!
            </h2>
            <p class="review__alert"></p>
            <input
              name="displayName"
              class="input review__input"
              type="text"
              placeholder="Name"
              disabled
              aria-label="Name"
            />
            <input
              name="email"
              class="input review__input"
              type="text"
              placeholder="Emailaddress"
              disabled
              aria-label="Emailaddress"
            />
            <textarea
              name="comment"
              class="input review__input"
              placeholder="Write your review here"
              rows="6"
              cols="50"
              maxlength="250"
              disabled
              aria-label="Write your review here"
            ></textarea>
            <div class="product__rating--review" id="review__rating">
              <p>Rating</p>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                />
                <input
                  name="rating"
                  type="radio"
                  value="1"
                  disabled
                  aria-label="select 1 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                />
                <input
                  name="rating"
                  type="radio"
                  value="2"
                  disabled
                  aria-label="select 2 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                />
                <input
                  name="rating"
                  type="radio"
                  value="3"
                  disabled
                  aria-label="select 3 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                />
                <input
                  name="rating"
                  type="radio"
                  value="4"
                  disabled
                  aria-label="select 4 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                />
                <input
                  name="rating"
                  type="radio"
                  value="5"
                  disabled
                  aria-label="select 5 star rating"
                />
              </label>
            </div>
            <input
              name="sendReview"
              type="submit"
              class="btn--disabled btn--submit"
              disabled
              value="Send review"
            />
          </div>
          <form
            class="review__form"
            th:if="${user} != null and ${comment} == null"
          >
            <h2 class="heading-secondary">
              What did you think of this product?
            </h2>
            <p class="review__alert"></p>
            <input
              name="displayName"
              class="input review__input"
              type="text"
              placeholder="Name"
              th:value="${user.firstName}"
              aria-label="Name"
            />
            <input
              name="email"
              class="input review__input"
              type="text"
              placeholder="Emailaddress"
              th:value="${user.email}"
              disabled
              aria-label="Emailaddress"
            />
            <textarea
              name="comment"
              class="input review__input"
              placeholder="Write your review here"
              rows="6"
              cols="50"
              maxlength="250"
              aria-label="Write your review here"
            ></textarea>
            <div
              role="radiogroup"
              class="product__rating--review"
              id="review__rating"
            >
              <p>Rating</p>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="1"
                />
                <input
                  name="rating"
                  type="radio"
                  value="1"
                  aria-label="select 1 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="2"
                />
                <input
                  name="rating"
                  type="radio"
                  value="2"
                  aria-label="select 2 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="3"
                />
                <input
                  name="rating"
                  type="radio"
                  value="3"
                  aria-label="select 3 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="4"
                />
                <input
                  name="rating"
                  type="radio"
                  value="4"
                  aria-label="select 4 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="5"
                />
                <input
                  name="rating"
                  type="radio"
                  value="5"
                  aria-label="select 5 star rating"
                />
              </label>
            </div>
            <input
              name="sendReview"
              type="submit"
              class="btn--green btn--submit"
              value="Send review"
            />
          </form>
          <form
            class="review__form"
            th:if="${user} != null and ${comment} != null"
            th:attr="data-rating=${comment.rating}"
          >
            <h2 class="heading-secondary">Did you change your mind?</h2>
            <p class="review__alert"></p>
            <input
              name="displayName"
              class="input review__input"
              type="text"
              placeholder="Name"
              th:value="${comment.displayName}"
              aria-label="Name"
            />
            <input
              name="email"
              class="input review__input"
              type="text"
              placeholder="Emailaddress"
              th:value="${user.email}"
              disabled
              aria-label="Emailaddress"
            />
            <textarea
              name="comment"
              class="input review__input"
              placeholder="Write your review here"
              rows="6"
              cols="50"
              maxlength="250"
              th:text="${comment.comment}"
              aria-label="Write your review here"
            ></textarea>
            <div class="product__rating--review" id="review__rating">
              <p>Rating</p>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="1"
                />
                <input
                  name="rating"
                  type="radio"
                  value="1"
                  aria-label="select 1 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="2"
                />
                <input
                  name="rating"
                  type="radio"
                  value="2"
                  aria-label="select 2 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="3"
                />
                <input
                  name="rating"
                  type="radio"
                  value="3"
                  aria-label="select 3 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="4"
                />
                <input
                  name="rating"
                  type="radio"
                  value="4"
                  aria-label="select 4 star rating"
                />
              </label>
              <label>
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="5"
                />
                <input
                  name="rating"
                  type="radio"
                  value="5"
                  aria-label="select 5 star rating"
                />
              </label>
            </div>
            <input
              name="updateReview"
              type="submit"
              class="btn--green btn--submit"
              value="Update review"
            />
          </form>
          <form
            th:if="${user} != null and ${comment} != null"
            th:attr="data-rating=${comment.rating}"
            class="review__form--delete"
          >
            <input
              name="deleteReview"
              type="submit"
              class="btn--small-text"
              value="Delete review?"
            />
          </form>
        </section>
        <section id="section-reviews" class="review__comments-box">
          <h2 class="heading-secondary">Reviews</h2>
          <p th:if="${comments == null or comments.isEmpty()}">
            No reviews yet...
          </p>
          <article class="review__comment" th:each="comment : ${comments}">
            <header class="review__comment-info">
              <span
                class="product__rating"
                th:title="'This rating has ' + ${comment.rating} +  ' out of five leaves'"
                th:attrappend="data-rating=${comment.rating}, aria-description=${comment.displayName} + ' has given this product a ' + ${comment.rating} + ' out of five leaves rating'"
              >
                <img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="1"
                /><img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="2"
                /><img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="3"
                /><img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="4"
                /><img
                  alt=""
                  class="product__rating--img"
                  src="../img/icons/leaf.svg"
                  data-rating="5"
                />
              </span>
              <h3 class="review__author" th:text="${comment.displayName}"></h3>
              <time
                th:datetime="${comment.updatedAt.toLocalDate()}"
                th:text="${comment.updatedAt.toLocalDate()}"
              ></time>
            </header>
            <p class="review__text" th:text="${comment.comment}"></p>
          </article>
        </section>
      </div>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
