<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:replace="components/designelements/favicon" />
    <link th:replace="components/designelements/font" />
    <link rel="stylesheet" type="text/css" href="../css/style.css" />
    <link rel="stylesheet" type="text/css" href="../css/queries.css" />
    <script src="https://unpkg.com/phosphor-icons"></script>
    <script defer th:src="@{/js/tools.js}"></script>
    <script defer th:src="@{/js/components/caretbutton.js}"></script>
    <script defer th:src="@{/js/login.js}"></script>
    <script defer th:src="@{/js/general.js}"></script>
    <script defer th:src="@{/js/product.js}"></script>
    <script defer th:src="@{/js/productcontrols/cartcontrols.js}"></script>
    <script defer th:src="@{/js/productcontrols/wishlistcontrols.js}"></script>
    <title>Urban Infusion</title>
  </head>
  <body>
    <header th:include="components/header" class="header"></header>
    <main class="wishlist container--beige">
      <div class="section__heading-box">
        <h1 class="decorative-heading">Wishlist</h1>
        <h2 class="section-title">Your favourites!</h2>
      </div>
      <div class="wishlist-grid">
        <article
          class="product-card container--white"
          th:insert="components/productcard"
          th:each="product : ${wishlist}"
          th:attr="data-productid=${product.id}"
          th:attrappend="data-wishlist=${wishlist == null} ? 'false' : (${#sets.contains(wishlist, product)} ? 'true' : 'false')"
        ></article>
      </div>
    </main>
    <footer th:include="components/footer" class="footer"></footer>
  </body>
</html>
