
<h2>Order information</h2>
<section class="section-manage-product section-info">
  <section class="section-info__labels">
    <label>Name</label>
    <label>Email</label>
    <label>Address</label>
    <label>Order date</label>
    <label>Order ID</label>
  </section>
  <section class="section-info__labels">
    <label id="orderNameLabel"></label>
    <label id="orderEmailLabel"></label>
    <label id="orderAddressLabel"></label>
    <label id="orderDateLabel"></label>
    <label id="orderIdLabel"></label>
  </section>
</section>
<section class="section-manage-product section-table">
  <table class="manage-order__table" id="manageOrderTable">
    <thead>
    <tr>
      <th>Item</th>
      <th>Article no.</th>
      <th>Quantity</th>
    </tr>
    </thead>
    <tbody id="manageOrderTableBody">
    </tbody>
  </table>
</section>
<section class="section-manage-product section-mark-processed">
  <input type="checkbox" id="orderProcessed" name="orderProcessed">
  <label for="orderProcessed">Mark as processed</label>
</section>