/*
Primary color: #dad7cd;
Secondary color: #588157;
Text color: #6d6875;

Spacing: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 / 160
Font-sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/****************************/
/* GENERAL */
/****************************/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.8;
  color: #6d6875;
  max-width: 160rem;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
  padding: none;
  margin: none;
  line-height: inherit;
  font-weight: inherit;
}

.link:hover {
  text-decoration: underline;
  cursor: pointer;
}

button {
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heading-primary {
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.8rem;
  word-spacing: 0.4rem;
  text-transform: uppercase;
}

.decorative-heading {
  margin: 0;
  padding: 0;
  font-family: "Hurricane", cursive;
  font-size: 3.6rem;
  font-weight: 500;
  letter-spacing: 0.4rem;
  text-transform: capitalize;
  color: #588157;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 3.6rem;
  font-weight: 600;
  margin-bottom: 0.4rem;
}

.container--beige {
  background-color: #dad7cd;
}

.container--white {
  background-color: #fff;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

.btn {
  padding: 0.6rem 2.4rem;
  color: #fff;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 50px;
  border: 0.2rem solid white;
  width: fit-content;
  transition: all 0.4s ease-out;
  backdrop-filter: blur(2px);
  z-index: 1000;
  cursor: pointer;
}

.btn--green {
  padding: 0.4rem 1.6rem;
  color: #fff;
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #588157;
  border-radius: 50px;
  border: 0.2rem solid white;
  width: fit-content;
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  transition: all 0.4s ease-out;
  backdrop-filter: blur(2px);
  z-index: 100000;
  cursor: pointer;
}

.btn--green:hover {
  transform: scale(108%);
  /* letter-spacing: 1px; */
}

.btn--green:active {
  transform: scale(103%);
}

.btn:hover {
  color: #6d6875;
  background-color: #fff;
}

.btn--text {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: inherit;
  word-spacing: 0.4rem;
}

.btn--icon {
  color: #6d6875;
  font-size: 3.8rem;
  transition: all 0.2s ease-out;
}

.btn--icon:hover {
  scale: 1.2;
}

.dots {
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.dots__dot {
  height: 1.4rem;
  width: 1.4rem;
  background-color: rgba(109, 104, 117, 0.5);
  border-radius: 50px;
}

.dots__dot--active {
  background-color: rgba(109, 104, 117, 0.8);
}

.slider__btn {
  font-size: 3rem;
  color: #6d6875;
}

.slider-controls {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 1rem;
  align-items: center;
  opacity: 70%;
}

.sticky {
  transition: all 0.2s ease-out;
}

.sticky .header {
  position: fixed;
  top: 0%;
  max-width: 160rem;
  width: 100vw;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  background-color: rgba(218, 215, 205, 1);
  z-index: 5254354523425;
  /* left: 0%; */
}

.sticky .section-hero {
  margin-top: 8.15rem;
}

.hidden {
  display: none !important;
  cursor: initial !important;
}

.margin-left--small {
  margin-left: 2rem;
}

/****************************/
/* HEADER SECTION */
/****************************/
.header {
  /* position: absolute; */
  /* top: 0%; */
  max-width: 160rem;
  width: 100vw;
  padding: 1.6rem 2.4rem 1.6rem 2.4rem;
  background-color: rgba(218, 215, 205, 1);
  z-index: 5254354523425;
  transition: all 0.2s ease-out;
}

.nav {
  padding: 0.8rem 2.4rem 0 2.4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 3.2rem;
  list-style: none;
}

.nav__item {
  transition: all 0.2s ease-out;
}

.nav__item:hover {
  transform: scale(1.1);
}

.nav__item:active {
  transform: scale(1.03);
}

.nav__link:link,
.nav__link:visited,
.nav__link:active,
.nav__link:hover {
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  color: #6d6875;
}

.nav__btn-box {
  display: flex;
  position: relative;
  gap: 2.4rem;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 5%);
  height: 6rem;
  z-index: 10000000000000000;
}

.nav__item {
  position: relative;
}

.nav__user-menu {
  padding: 3.2rem 1.6rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
  position: absolute;
  top: 100%;
  right: 0%;
  /* height: 22rem; */
  width: 32rem;
  /* background-color: #f1eee2; */
  background-color: rgba(241, 238, 226, 0.6);
  backdrop-filter: blur(15px);
  box-shadow: 0rem 2rem 3rem rgba(0, 0, 0, 0.05);
  font-size: 1.4rem;
  text-align: center;
  z-index: 10000000;
}

.nav-mobile__btn {
  display: none;
  pointer-events: none;
  cursor: none;
}

.login {
  display: flex;
  flex-direction: column;
  font-family: inherit;
  gap: 1rem;
  align-items: center;
}

.login__input {
  padding: 0.8rem;
  width: 24rem;
  border-radius: 3px;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  box-shadow: inset 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
}

/****************************/
/* HERO SECTION */
/****************************/

.section-hero {
  padding: 2.4rem 2.4rem 6.4rem 2.4rem;
  background-color: #dad7cd;
  position: relative;
  max-width: 100vw;
}

.hero-slider {
  height: 60rem;
  position: relative;
}

/* .hero-slider .dots {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 70%;
} */

.hero-slider__slide {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.9;
  filter: brightness(0.8);
}

.section-hero .btn {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-hero .btn:hover {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%) scale(110%);
}

.section-hero .btn:active {
  transform: translate(-50%, -50%) scale(108%);
}

.decorative-text--light {
  font-family: "Hurricane", sans-serif;
  text-transform: capitalize;
  color: #a7f0a4;
  font-size: 3rem;
  letter-spacing: 0.5rem;
  word-spacing: 1rem;
  transition: all 0.2s ease-out;
}

.btn:hover .decorative-text--light {
  color: #588157;
}

/****************************/
/* COOPERATIONS SECTION */
/****************************/
.section-cooperations {
  padding: 4.8rem 0 9.6rem 0;
  background-color: #dad7cd;
}

.cooperation-logos {
  margin-top: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12.8rem;
}

.cooperation-logo {
  filter: grayscale(1);
  opacity: 0.3;
  max-height: 12rem;
  max-width: 12rem;
}

/*****************************/
/* FEATURED PRODUCTS SECTION */
/*****************************/

.section-featured {
  position: relative;
  padding: 6.4rem 9.6rem;
}

.section-featured .section__heading-box {
  margin-bottom: 2.4rem;
}

.featured-products {
  display: grid;
  grid-gap: 3.2rem;
  /* grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); */
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.featured-card {
  position: relative;
  transition: all 0.7s ease-in-out;
}

.featured-card:hover {
  transform: scale(105%);
}

.featured-card__img {
  width: 100%;
  height: auto;
  /* object-fit: cover; */
  border: 0.4rem solid white;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

.section-featured .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.section-featured .btn:hover {
  transform: translate(-50%, -50%) scale(110%);
  color: #588157;
}

.section-featured .btn:active {
  transform: translate(-50%, -50%) scale(105%);
}

/****************************/
/* COMPANY VALUES SECTION */
/****************************/
.section-values {
  padding: 9.6rem 2.4rem;
}

.values {
  margin: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-evenly;
  gap: 3.2rem;
}

.value {
  padding: 2.4rem 4.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.value__icon {
  margin-bottom: 1.2rem;
  color: #6d6875;
  padding: 3.2rem;
  position: relative;
  border-radius: 50%;
  background-color: rgba(218, 215, 205, 0.5);
  opacity: 85%;
  width: 25rem;
  height: 25rem;
}

/****************************/
/* COMPANY VALUES SECTION */
/****************************/
.section-company {
  /*padding: 6.8rem 4.8rem 0 4.8rem;*/
  padding: 9.6rem 4.8rem;
}

.section-company .section__heading-box {
  max-width: 80rem;
  margin: 0 auto 8rem auto;
  /* margin: 0 auto;
  padding-bottom: 10rem; */
}

.company-grid {
  padding: 2rem 4.8rem 0 4.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 5rem;
}

.company-grid__text:nth-of-type(2) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.company-grid__text:nth-of-type(3) {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
}

.gallery {
  width: 50%;
  height: 30rem;
  position: relative;
}

.gallery__img {
  position: absolute;
  width: 30rem;
  transition: 0.4s ease;
  border: 0.4rem solid white;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

.gallery__img:hover {
  z-index: 999;
}

.gallery--right .gallery__img:first-child {
  top: -20%;
  right: -90%;
}

.gallery--right .gallery__img:nth-child(2) {
  top: -10%;
  right: -20%;
}

.gallery--right .gallery__img:nth-child(3) {
  top: 10%;
  right: -60%;
}

.gallery--left .gallery__img:first-child {
  top: -20%;
  left: 70%;
}

.gallery--left .gallery__img:nth-child(2) {
  top: -10%;
  left: 0;
}

.gallery--left .gallery__img:nth-child(3) {
  top: 10%;
  left: 30%;
}

.gallery--right .gallery__img:hover {
  transform: scale(1.3);
}

.gallery--left .gallery__img:hover {
  transform: scale(1.3);
}

/****************************/
/* PRODUCTS SECTION */
/****************************/
.section-products {
  padding: 9.6rem;
  overflow: hidden;
}

.section-products .section__heading-box {
  margin-bottom: 3.2rem;
}

.product-slider {
  position: relative;
  height: 60rem;
  margin: 0 auto;
}

.product-slider .slider-controls {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translateX(-50%);
}

.product-card {
  position: relative;
  padding: 0.4rem;
  height: 50rem;
  width: 35rem;

  font-size: 1.4rem;

  transition: all 0.4s ease-out;
}

.product-card__img {
  display: inline-block;
  object-fit: cover;
  margin-bottom: 1.6rem;
  width: 100%;
  height: 22rem;
  cursor: pointer;
}

/* .product-card__img:hover */

.product-card__details {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  height: 27.6rem;
}

.product-card__heading {
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
}

.product-card__list {
  list-style: none;
  font-size: 1.6rem;
}

.product-card__item {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.product-card__icon {
  font-size: 2rem;
}

.product-card__cta {
  position: absolute;
  bottom: 2%;
  width: 30rem;
  display: flex;
  justify-content: space-between;
}

.product-card__rating {
  display: flex;
  font-size: 2.4rem;
  color: #588157;
}

.product-card__controls {
  display: flex;
  gap: 0.8rem;
}

.product-card__controls .btn--icon {
  font-size: 3.6rem;
}

.product-card__controls .btn--icon:hover {
  transform: scale(115%);
}
.product-card__controls .btn--icon:active {
  transform: scale(105%);
}

.product-card__slide--tertiary-prev {
  position: absolute;
  top: 2%;
  left: 50%;
  filter: blur(2px);
  transform: translateX(-270%) scale(0.96);
}

.product-card__slide--tertiary-prev:hover {
  filter: blur(0);
  transform: translateX(-270%) scale(1.01);
}

.product-card__slide--tertiary-next {
  position: absolute;
  top: 2%;
  left: 50%;
  filter: blur(2px);
  transform: translateX(170%) scale(0.96);
  /* z-index: 100; */
}

.product-card__slide--tertiary-next:hover {
  filter: blur(0);
  transform: translateX(170%) scale(1.01);
}

.product-card__slide--secondary-prev {
  position: absolute;
  top: 1%;
  left: 50%;
  filter: blur(1px);
  transform: translateX(-160%) scale(0.98);
  z-index: 101;
}

.product-card__slide--secondary-prev:hover {
  filter: blur(0);
  transform: translateX(-160%) scale(1.03);
}

.product-card__slide--secondary-next {
  position: absolute;
  top: 1%;
  left: 50%;
  filter: blur(1px);
  transform: translateX(60%) scale(0.98);
  z-index: 1000;
}

.product-card__slide--secondary-next:hover {
  filter: blur(0);
  transform: translateX(60%) scale(1.03);
}

.product-card__slide--active {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10000;
}

.product-card__slide--active:hover {
  transform: translateX(-50%) scale(1.05);
}

/****************************/
/* TESTIMONIALS SECTION     */
/****************************/

.section-testimonials {
  padding: 9.6rem 6.4rem;
  padding-bottom: 16rem;
  position: relative;
  text-align: center;
}

.section-testimonials .section__heading-box {
  margin-bottom: 4.8rem;
}

.testimonials {
  /* padding: 3.2em; */
  display: grid;
  grid-gap: 1.6rem;
  grid-template-columns: repeat(3, 1fr);
}

.testimonial {
  position: relative;
  padding: 2.4em 1.6rem;
  height: 100%;
}

.testimonial__heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.testimonial__author {
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: fit-content;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.testimonial__img {
  height: 8rem;
  border-radius: 50%;
  box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.1);
}

/****************************/
/* FOOTER SECTION           */
/****************************/

.footer {
  padding: 9.6rem;
  display: grid;
  grid-template-columns: 2fr repeat(3, 1fr);
  gap: 2.4rem;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  border: 0.1rem solid rgba(0, 0, 0, 0.05);
}

.logo-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 6.4rem;
}

.footer-heading {
  font-weight: 500;
}

.footer__list {
  list-style: none;
}

.footer__item {
  transition: all 0.2s ease-out;
}

.footer__item:hover {
  transform: scale(105%);
}

.footer__item:active {
  transform: scale(102%);
}

.footer__link:link,
.footer__link:visited,
.footer__link:hover,
.footer__link:active {
  text-decoration: none;
  font-size: 1.6rem;
  line-height: 2.4;
  color: #6d6875;
}

.footer__logo {
  display: inline-block;
  height: 6.2rem;
  width: 30rem;
}

.copyright {
  text-align: center;
  margin-top: 3.2rem;
  font-size: 1.6rem;
}

/********************************************************/

/****************************/
/* WISHLIST           */
/****************************/
.wishlist {
  padding: 2.4rem 5.6rem 6.4rem 5.6rem;
  background-color: #dad7cd;
}

.wishlist .section__heading-box {
  margin-left: 4.8rem;
  margin-bottom: 2.4rem;
}

.wishlist-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  row-gap: 4.8rem;
  column-gap: 3.2rem;
  justify-items: center;
}

.wishlist .product-card:hover {
  transform: scale(105%);
}

/********************************************************/

/****************************/
/* CHECKOUT           */
/****************************/
.checkout {
  padding: 2.4rem 5.6rem 6.4rem 5.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.6rem;
}

.checkout > .container--white {
  padding: 1.2rem 4.8rem 3.2rem 4.8rem;
}

.checkout__list-headings {
  display: grid;
  grid-template-columns: 2fr 3fr repeat(3, 2fr) 1fr;
  justify-content: space-between;
  padding: 1rem 1.2rem;
  border-bottom: 0.1rem solid rgba(109, 104, 117, 0.3);
}

.checkout__list-headings:first-of-type::before {
  content: " ";
  width: 20rem;
  height: 0.1rem;
}

.checkout__list-heading {
  font-weight: 600;
}

.checkout__list {
  padding: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.checkout__item {
  display: grid;
  grid-template-columns: 2fr 3fr repeat(3, 2fr) 1fr;
  width: 100%;
  justify-content: space-between;
}

.checkout__item .btn--icon {
  align-self: flex-start;
  font-size: 3rem;
}

.item__img {
  width: 20rem;
  height: 15rem;
  object-fit: cover;
  border: 0.3rem solid #fff;
  box-shadow: 2rem 2rem 3rem rgba(0, 0, 0, 0.1);
}

.item__description {
  display: flex;
  flex-direction: column;
}

.item__name {
  font-weight: 500;
}

.item__number {
  font-size: 1.4rem;
}

.item__quantity {
  padding-left: 0.4rem;
  height: 3rem;
  width: 5rem;
  font-family: inherit;
  font-size: 1.8rem;
  border-radius: 0;
  border: none;
  color: #6d6875;
}
.item__quantity::-webkit-inner-spin-button {
  opacity: 1;
  height: 3rem;
  background-color: #fff;
}

.checkout__customer {
  padding-top: 2.4rem;
  display: flex;
  flex-direction: column;
  /* font-size: 1.4rem; */
  gap: 3.2rem;
  font-style: normal;
}

.checkout__info {
  display: flex;
  flex-direction: column;
}

.checkout__label {
  font-weight: 500;
}
.section-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-info .heading-tertiary {
  grid-column: 1 / -1;
}

.checkout__wrong {
  align-self: end;
  justify-self: end;
}

.checkout__heading {
  margin-top: 2.4rem;
  margin-bottom: 0.4rem;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.checkout__wrong .link {
  font-weight: 500;
  text-decoration: underline;
}

.checkout__plan {
  border: 0.2rem solid #588157;
  border-radius: 50px;
  padding: 0.8rem 2.4rem;
}

.checkout .btn--green {
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  margin: 0 auto;
  margin-top: 2.4rem;
}
