<div class="modal__window edit__window">
  <h2>Change customer name</h2>
  <button class="btn--close close btn--icon">
    <i class="ph-x"></i>
  </button>
  <form>
    <p><label for="newFirstName">First name:</label>
    <input class= "input--overlay" type="text" id="newFirstName"/></p>
    <label for="newLastName">Last name:</label>
    <input class= "input--overlay" type="text" id="newLastName"/>
    <input type="submit" value="Submit" class="btn--green" id="updateFullNameButton"/>
  </form>
</div>