<a th:href="@{/account}" class="user-menu__item">
  <i class="ph-user-circle-light btn--icon"></i>
  <span class="link">Account information</span>
</a>
<a
  th:unless="${#httpServletRequest.requestURI.contains('/admin')}"
  th:href="@{/admin/}"
  class="user-menu__item"
>
  <i class="ph-squares-four-light btn--icon"></i>
  <span class="link">Admin dashboard</span>
</a>
<a
  th:if="${#httpServletRequest.requestURI.contains('/admin')}"
  th:href="@{/}"
  class="user-menu__item"
>
  <i class="ph-house-light btn--icon"></i>
  <span class="link">Home page</span>
</a>
<a th:href="@{/logout}" id="signout" class="user-menu__item">
  <i class="ph-sign-out-light btn--icon"></i>
  <span class="link">Sign out</span>
</a>
