<form class="login">
  <p class="login__alert"></p>
  <label class="login__field">
    <span>Email-address</span>
    <input
      class="login__input input"
      id="login-email"
      name="username"
      type="text"
      placeholder="john@example.com"
  /></label>
  <label class="login__field">
    <span>Password</span>
    <input
      class="login__input input"
      id="login-password"
      name="password"
      type="password"
      placeholder="password"
  /></label>
  <input type="submit" id="login-btn" class="btn--green" value="Sign in" />
  <input
    type="submit"
    id="forgotten-password"
    class="btn--small-text"
    value="Forgotten password?"
  />
</form>
<a th:href="@{/signup}" class="link">
  Not a member yet? <strong>Join here!</strong>
</a>
